[submodule "src/.vim/3rdparty/vim-pathogen"]
	path = src/.vim/3rdparty/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "src/.vim/bundle/vim-go"]
	path = src/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "src/.vim/bundle/YouCompleteMe"]
	path = src/.vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "src/.vim/bundle/YCM-Generator"]
	path = src/.vim/bundle/YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator.git
[submodule "src/.vim/bundle/tagbar"]
	path = src/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "src/.vim/bundle/nerdtree"]
	path = src/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "src/.vim/bundle/ultisnips"]
	path = src/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "src/.vim/bundle/vim-snippets"]
	path = src/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "src/.vim/bundle/supertab"]
	path = src/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
